    #grid {
        background-color: #010101;
        display: grid;
        grid-template-columns: repeat(20, 20px);
        grid-template-rows: repeat(30, 20px);
        height: 779px;
        width: 388px;
        align-content: center;
        margin-left: 789px;
        margin-top: 130px;
        margin-bottom: auto;
    }
    #lines {
        background-color: #010101;
        margin-left: 777px;
        margin-top:55px;
        width: 389px;
        border: 10px cyan solid;
        height:50px;
    }
    #score {
        background-color: #010101;
    }
    #high {
        background-color: #010101;
    }
    #current {
        background-color: #010101;
    }
    #stats {
        background-color: #010101;
    }
    #level {
        background-color: #010101;
    }
    #next {
        background-color: #010101;
    }
    #type {
        background-color: #010101;
    }
    .square {
        width: 30px;
        height: 30px;
    }
    body {
        background-image: url("https://i.ytimg.com/vi/FSLAyV0mGUw/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLC0LkZcrND02qBL2yLo8ogv0no2xg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }